body {
    background: #3399ff!important;
    height: 100%!important;
    }
    .content-wrapper,.content-body,.flexbox-container,.navbar-flexbox-container{
    height: 100%!important;
    }
    .app-content {
    overflow: hidden;
    height: 100%;
    }
    .form-control{
        padding: 1.75rem 1rem;
    }
    .form-control-position{
        font-size:25px;
    }
    .fixed-navbar{padding-top:0px!important;}
    @media only screen and (max-width: 600px) {
        .content-wrapper,.col-12,.card-body{
            padding: 0px!important;
        }
      }